* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  display: flex;
}
.display {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  max-width: 1440px;
  margin: auto;
}

#modul {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_alert-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.75);
    justify-content: center;
    align-items: center;
  }

  &_alert-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    font-size: 24px;
  }
}

.modul_image {
  &-tablet {
    display: none;
  }
  &-mobile {
    display: none;
  }
}

.modul_content {
  margin-left: 1rem;
  width: 35%;

  &-header {
    font-size: 42px;
    margin: 1rem 0;
  }
  &-paragraph {
    font-size: 18px;
    margin: 1rem 0;
  }

  &-button {
    font-size: 20px;
    margin: 1rem 0;
    border-radius: 45px;
    padding: 16px 40px;
    cursor: pointer;
    transition: 0.5s;
    background-color: #e4c1ae;
    &:hover {
      background-color: #228b22;
    }
  }
}

.modul_alert {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 2rem 6rem;
  align-items: center;
  &-header {
    font-size: 42px;
  }
  &-message {
    font-size: 18px;
  }
  &-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    font-size: 24px;
  }
  &-resetButton {
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #228b22;
    color: #fff;
    transition: 0.5s;
    padding: 10px 20px;
    border-radius: 45px;
    margin-top: 5px;
    &:hover {
      background-color: #ff4500;
    }
  }
}

@media screen and (max-width: 1251px) {
  body {
    #modul {
      width: 90%;
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    display: row;
    #modul {
      width: 90%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .modul_image {
        &-computer {
          display: none;
        }
        &-tablet {
          display: block;
        }
      }

      .modul_content {
        width: 70%;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 501px) {
  body {
    #modul {
      .modul_image {
        &-computer {
          display: none;
        }
        &-tablet {
          display: none;
        }
        &-mobile {
          display: block;
        }
      }
    }
    .modul_alert {
      padding: 1rem 1rem;
      width: 100%;
      display: block;
      text-align: center;
    }
  }
}
