* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display {
  display: none;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  max-width: 1440px;
  margin: auto;
}

#modul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modul_alert-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modul_image-tablet {
  display: none;
}

.modul_image-mobile {
  display: none;
}

.modul_content {
  margin-left: 1rem;
  width: 35%;
}

.modul_content-header {
  font-size: 42px;
  margin: 1rem 0;
}

.modul_content-paragraph {
  font-size: 18px;
  margin: 1rem 0;
}

.modul_content-button {
  font-size: 20px;
  margin: 1rem 0;
  border-radius: 45px;
  padding: 16px 40px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #e4c1ae;
}

.modul_content-button:hover {
  background-color: #228b22;
}

.modul_alert {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 2rem 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modul_alert-header {
  font-size: 42px;
}

.modul_alert-message {
  font-size: 18px;
}

.modul_alert-exit {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  font-size: 24px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modul_alert-exit:hover {
  margin: 0.5rem;
  font-size: 36px;
}

.modul_alert-resetButton {
  font-size: 18px;
  border: none;
  cursor: pointer;
  background-color: #228b22;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px 20px;
  border-radius: 45px;
  margin-top: 5px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.modul_alert-resetButton:hover {
  background-color: #ff4500;
}

@media screen and (max-width: 1251px) {
  body #modul {
    width: 90%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 1024px) {
  body {
    display: row;
  }
  body #modul {
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body #modul .modul_image-computer {
    display: none;
  }
  body #modul .modul_image-tablet {
    display: block;
  }
  body #modul .modul_content {
    width: 70%;
    text-align: center;
  }
}

@media screen and (max-width: 501px) {
  body #modul .modul_image-computer {
    display: none;
  }
  body #modul .modul_image-tablet {
    display: none;
  }
  body #modul .modul_image-mobile {
    display: block;
  }
  body .modul_alert {
    padding: 1rem 1rem;
    width: 100%;
    display: block;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */